header {
	background: rgb( 15, 29, 119);
	color:#fff;
	margin-top: 50px;
	margin-bottom: 30px;
}
.encabezado {
	background: rgb(67, 74, 84);
}
.main {/*aca va el slider*/
	/*background: black;*/
	color:black;

}
.main_uno {
	background: rgb( 43, 114, 204);
	color: #fff;
	height: 100px;
  	padding: 30px;

}
.main_dos {
	background: #fff;
	color: #fff;
	height: 100px;
	margin: 25px;
	padding: 45px;
}
.button_uno {
	background: rgb( 43, 114, 204);
	color: #fff;
	border-radius: 3px;
	padding: 12px 28px;
}
.button_uno:hover{
	background: #fff;
	color:black;
}
.button_dos {
	background: rgb( 43, 114, 204);
	color: #fff;
	border-radius: 3px;
	padding: 12px 28px;
}
.button_dos:hover{
	background: rgb(56, 60, 64);
	color:#fff;
}
.cuadro_interno {
	color: #fff;
	width: 500px;
	background: rgb(57, 59, 58);
	background: rgba(57, 59, 58, 0.5); 
	padding: 10px;
}
#texto_slider {
	font-family: fantasy;
	font-size: 90%;
	text-align: left;
}
#texto_antes_boton {
	font-size: 2.5vmin;
	text-transform: capitalize;
}
.espacio_tercera_parte {
	background: #fff;
	
  	padding: 30px;
}
#titulo_tercera_parte {
	color: rgb( 43, 114, 204);
	font-size: 3vmin;
	border-bottom: 5px solid rgb( 43, 114, 204);
}
#enlaces_slider {
	color: rgb( 43, 114, 204);
}
.espacio_cuarta_parte {
	background: rgb(56, 60, 64);
	/*height: 400px;*/
	position: relative;
	margin:0 auto;
	line-height: 1.4em;
}
.imagen_redimensionada {
	max-width: 46%;
	min-width: 200px;
	min-height: 200px;

}
#disenno_texto_CM {
	color: #aaa;
	text-align: left;
	/*font-size: 110%;*/
	font-size: 1.5rem;
	/*padding: 30px 0;
	line-height: 1.8;*/
	font-family: fantasy;

}
.colocacion_imagen_CM {
	margin: 15px;
}
.colocacion_texto_CM {
	margin: 60px;

}
#estilo_CM {
	color: #fff;
	text-align: left;
}
.container2 {
	/*width: 960px;
	position: relative;
	margin:0 auto;
	line-height: 1.4em;*/
	margin: 10px;
	background: #fff;
}
#myDIV {
	font-size: 17px;
	color: #666666;
}
#titulo_jumbotron {
	font-size: 17px;
	line-height: 1.5;
	color: #666666;
}
#texto_jumbotron {
	font-size: 14px;
	color: #666666;
	text-align: left;
}
.info_contacto {
	background: rgb(56, 60, 64);
	/*height: 400px;*/
}
.disenno_cuadro_inferior {
	color: #fff;
	font-size: 22px;
}
.disenno_lista {
	list-style-type: none;
	color: #fff;
	font-size: 14px;
}
footer {
	background: rgb( 43, 114, 204);
	color: #fff;
	height: 50px;
}
.navbar-custom
{
	background: rgb( 43, 114, 204);
	color: white;
	border-radius: 0;
	text-decoration: none;
}

li > a
{
	color: white;
}
.texto_iconos {
	color: #666666;
	text-align: justify;
    text-justify: inter-word;
}
.color_iconos {
	color: #117ec3;
}
.con {

}
.estilo_imagenes {
	border-radius: 15px 50px; 

}
.con:hover {
	-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.con_dos {
	float: left;
	margin-right: 2px;
}
.con_dos:hover {
	-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}


#estilo_para_nombres {
	font-family: 'Arvo';
}
.estilo_nombres {
	font-family: 'Courgette';
	font-size: 16px;
}
